<div class="card card-body">
    <h3>Video Idea</h3>
    <form action="/ideas" method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control">
        </div>
        <div class="form-group">
            <label for="details">Details</label>
            <textarea name="details" id="" cols="30" rows="3" class="form-control"></textarea>
        </div>
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>