<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <img src="/img/logo.png" alt="Logo" class="logo">
            <h3 class="text-center">Account Login</h3>
            <form action="/users/login" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <input type="submit" class="btn btn-primary btn-block" value="Login">
            </form>
        </div>
    </div>
</div>